[Unit]
Description=Snaps Attimis Cam pictures
After=openvpn-client@dabridge.service
Requires=openvpn-client@dabridge.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/mnt/d/chri/reottimis/start.sh
Restart=always
User=chri
Group=chri

[Install]
WantedBy=multi-user.target
