[Unit]
Description=Daily reottimis video generation and clean up
Requires=reottimis_daily.service

[Timer]
Unit=reottimis_daily.service
OnCalendar=*-*-* 03:33:33

[Install]
WantedBy=timers.target
