[Unit]
Description=Daily Video creation and clean up.
Wants=reottimis_daily.timer

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/subitcam
ExecStart=/home/ubuntu/miniconda3/envs/subitcam/bin/python -u /home/ubuntu/subitcam/reottimis/reottimis_daily.py yesterday /home/ubuntu/subitcam/reolink.cfg
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target