[Unit]
Description=Snaps Attimis Cam pictures
After=tailscaled.service
Requires=tailscaled.service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/subitcam
ExecStart=/home/ubuntu/miniconda3/envs/subitcam/bin/python -u /home/ubuntu/subitcam/reottimis/reottimis_snap.py /home/ubuntu/subitcam/reolink.cfg
Restart=always
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
